# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# virtual environment
venv/
env/
.venv/

# -----------------------------
# Security / Secrets (VERY IMPORTANT)
# -----------------------------
.env
*.env
*.pem
*.key
*.crt
keys/
aes_encrypted.key

# -----------------------------
# Database
# -----------------------------
*.db
database.db

# -----------------------------
# Encrypted / generated data
# -----------------------------
secure_data/
*.enc
*.sig

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# generated MFA QR codes
static/qr_*.png
